<%= form_tag charges_path do %>
  <!-- <article>
    <%# if flash[:error].present? %>
      <div id="error_explanation">
        <p><%#= flash[:error] %></p>
      </div>
    <#% end %>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>



  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_cAnTXFMsx0UrHalq5oxKlv8C" data-description="Anand test vendor" data-amount="50000" data-redirect-url='http://localhost:3000/custom_charges' data-locale="auto"></script><br> -->

  <%Category::NAME.each_with_index do |x, i|%>
    <label><%=x[0]%></label>
    <%= check_box_tag 'category[]', (x[1].is_a?(Hash) ? x[1].first[0] : x[1]), false, {class: "category_#{i}", data: {x1: x[0], x2: x[1].first[0], cat_id: "category_#{i}"} }%><br>
    <% if x[1].is_a?(Hash) %>
      <% x[1].values[0].each do |y| %>
        &nbsp;&nbsp;&nbsp;&nbsp;<label><%=y[0]%></label>
        <%= check_box_tag 'sub_category[]', y[1] , false , {class: "sub_category", data: {id: i}}%><br>
      <% end %>
    <% end %>
  <% end %>
  <%= submit_tag 'Save' %>
<%end%>


 <script type="text/javascript">
  $(document).on("change", ".sub_category", function(){
    var id = $(this).data("id");
    if ($(".sub_category").is(':checked'))

    {
    $(".category_"+id).prop('checked', true);

    }
    else
    {
    $(".category_"+id).prop('checked', false);
    }
    end
  })
</script> 